<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shop Stop Rewrite</title>
  <link rel="stylesheet" href="/content/site.css" type="text/css">
</head>
<body>
  <header>
    <nav class="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/image/add">Add</a></li>
      </ul>
    </nav>
  </header>
  <form class="form center-form" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Image Name</label>
      <input type="text" id="name" name="name" class="input-field" />
    </div>
    <div class="form-group">
      <input type="file" id="upload" name="upload" class="input-field"/>
    </div>

    <div class="form-group">
      <input type="submit" class="btn form-btn" value="Add">
    </div>
  </form>
</body>
</html>